body {
    background-color: #cccccc;
}

p {
    text-align: center;
    background-color: #cccccc;
}

#banner {
    width: 100%;
}

h1 {
    text-align: center;
}

em strong {
    color: red;
}

#mision {
    font-size: 20px;
}

h2 {
    text-align: center;
}

.items {
    font-style: italic;
}

.imagenDiferenciales {
    width: 50%;
}